body {
  height: 500px;
  width: 500px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
  text-align: center;
  background-color: rgb(231, 216, 216)
}

h1 {
  padding: 10px;
  text-align: center;
}

.tabs {
  border: 1px solid black;
  
}

p {
  display: inline-block;
  padding: 5px;
}

