body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(143, 167, 212);
    color: rgb(244, 246, 252);
    margin: auto;
    padding: 10px;
    text-align: center;
    
}